<div id="detail" data-role="page" ng-controller="mainCtrl">
  <div data-role="header">
    <a href="#" data-rel="back"
       class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-back ui-btn-icon-notext"></a>
    <a href="#panel" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-bars ui-btn-icon-notext"></a>
    <h1>详情页</h1>
  </div>
  <div id="panel" data-role="panel" data-display="push" data-position="right">
    <div class="ui-input-btn ui-btn ui-corner-all ui-shadow register-btn">
      注册
      <input type="button" data-enhanced="true" ng-click='jump("register.html")'>
    </div>
    <div class="ui-input-btn ui-btn ui-corner-all ui-shadow login-btn">
      登陆
      <input type="button" data-enhanced="true" ng-click='jump("login.html")'>
    </div>
    <div class="ui-input-btn ui-btn ui-corner-all ui-shadow logout-btn">
      注销登陆
      <input type="button" data-enhanced="true" ng-click="logout()">
    </div>
    <div class="ui-input-btn ui-btn ui-corner-all ui-shadow">
      关闭侧边栏
      <input type="button" data-enhanced="true" data-rel="close">
    </div>
  </div>
  <div class="ui-content">
    <ul data-role="listview"  data-filter="true" data-filter-placeholder="搜索菜品" data-inset="true">
      <li ng-repeat="item in items">
        <a ng-click="moveTo('detail.html')">
          <img ng-src="img/{{item.img_sm}}" alt=""/>
          <h2>{{item.name}}</h2>
          <p>{{item.material}}</p>
          <p>￥{{item.price}}</p>
        </a>
      </li>
    </ul>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="main.html" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-home"></a></li>
        <li><a href="javascript: " class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-grid"></a></li>
        <li><a href="myorder.html" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-user"></a></li>
      </ul>
    </div>
  </div>
</div>